.img-footer {
	width: 70px;
	height: 70px;
	margin-left: 25%;
}
.centers {
   text-align: center;
   margin-bottom: 3%;
}
.dichvu:hover {
   font-size: 16.2px;
   text-decoration: none;
}
.back-to-top {
   width: 50px;
   height: 50px;
   background: rgb(0,0,0,0.7);
   font-size: 35px;
   color: whitesmoke;
   text-align: center;
   vertical-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   left: 95%;
   bottom: 40px;
   margin-left: -25px;
   cursor: pointer;
   visibility: hidden;
   opacity: 0;
}
.back-to-top.hien-ra{
   visibility: visible;
   opacity: 1;
}
