@media screen and (max-width: 600px) {
	.news {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.media-css {
		height: 355px;
	}
}

@media only screen and (min-width: 1920px) {
	.media-css {
		height: 415px;
	}
}
